<a href="https://colab.research.google.com/github/yosaarya/Data-Mining-A11.4623/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import numpy, pandas, dan scikit-learn

In [104]:
import numpy as np
import pandas as pd
from sklearn import tree

membaca dataset dari file ke pandas dataFrame

In [105]:
irisDataset = pd.read_csv('dataset.csv', delimiter=';', header=0)

mengubah kelas (kolom "Species") dari string ke unique integer

In [106]:
irisDataset.head()

   Id  SepalLengthCm  ...  PetalWidthCm          Species
0   1           7.00  ...          1.04   Iris-virginica
1   2           6.04  ...          1.05   Iris-virginica
2   3           6.09  ...          1.05  Iris-versicolor
3   4           5.05  ...          1.03  Iris-versicolor
4   5           6.05  ...          1.05  Iris-versicolor

[5 rows x 6 columns]

In [107]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [108]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

mengubah dataFrame ke array numpy

In [109]:
irisDataset = irisDataset.to_numpy()

In [110]:
dataTraining = np.concatenate((irisDataset[0:40,:],irisDataset[50:90,:]), axis=0)
dataTesting = np.concatenate((irisDataset[40:50,:],irisDataset[90:100,:]),axis=0)

In [111]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:,0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:,4]

In [112]:
model = tree.DecisionTreeClassifier()

In [113]:
model = model.fit(inputTraining, labelTraining)

In [114]:
hasilPrediksi = model.predict(inputTesting)
print("label sebenarnya ", labelTesting)
print("hasil prediksi : ", hasilPrediksi)

label sebenarnya  [1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
hasil prediksi :  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [115]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi benar: ", prediksiBenar, "data")
print("Prediksi salah: ", prediksiSalah, "data")
print("akurasi: ", prediksiBenar/(prediksiBenar+prediksiSalah)*100, "%")

Prediksi benar:  19 data
Prediksi salah:  1 data
akurasi:  95.0 %